In [1]:
from datetime import datetime as dt  #to manipulate dates

import numpy as np  #to cleanse data
import openpyxl
import pandas as pd
import plotly.express as px  #to create interactive charts
import plotly.graph_objects as go  #to create interactive charts
from datetime import datetime

In [3]:

wf_data = pd.read_excel(
    'D:\\Sean\\Documents\\Personal\\Budget\\2025_output\\WF_Curated_Bills.xlsx'
)

discover_data = pd.read_excel(
    'D:\\Sean\\Documents\\Personal\\Budget\\2025_output\\Curated_Bills.xlsx'
)

sofi_savings_data = pd.read_excel(
    'D:\\Sean\\Documents\\Personal\\Budget\\2025_output\\sofi_savings_Curated_Bills.xlsx'
)
sofi_checking_data = pd.read_excel(
    'D:\\Sean\\Documents\\Personal\\Budget\\2025_output\\sofi_checking_Curated_Bills.xlsx'
)

In [5]:
combined = pd.concat([wf_data, discover_data, sofi_savings_data,sofi_checking_data], axis=0)
combined.columns = ['ORIG_INDEX','Trans_Date','Description','Amount','Category','Short_Desc','Reoccurring_Flag','Category_2','Date','Year','Sort_Date','CumAmount','Counter','Account']
combined.reset_index(drop=True, inplace=True)
# Assuming 'combined' is your DataFrame
# Convert the datetime columns to date format (without time)
combined['Trans_Date'] = pd.to_datetime(combined['Trans_Date']).dt.date
combined['Date'] = pd.to_datetime(combined['Date']).dt.date
combined['Sort_Date'] = pd.to_datetime(combined['Sort_Date']).dt.date

# Now write to Excel
combined.to_excel('D:\\Sean\\Documents\\Personal\\Budget\\2025_output\\All_Bills.xlsx', index=True)

display(combined)

,ORIG_INDEX,Trans_Date,Description,Amount,Category,Short_Desc,Reoccurring_Flag,Category_2,Date,Year,Sort_Date,CumAmount,Counter,Account
0,0,2023-01-01,Balance,616.53,NaN,Balance,No,Balance,2023-01-01,2023,2023-01-01,616.53,1,wells_fargo_checking
1,1,2025-01-02,ZELLE TO LEWIS JR DON ON 01/02 REF #PP0YDK8MGJ...,-750.00,NaN,Don,No,People,2025-01-01,2025,2025-01-02,-133.47,1,wells_fargo_checking
2,2,2025-01-06,ZELLE TO LEWIS JR DON ON 01/06 REF #PP0YDVM2K4...,-217.00,NaN,Don,No,People,2025-01-01,2025,2025-01-06,-350.47,2,wells_fargo_checking
3,3,2025-01-09,ZELLE TO LEWIS JR DON ON 01/09 REF #PP0YF4Y6GD...,-100.00,NaN,Don,No,People,2025-01-01,2025,2025-01-09,-450.47,3,wells_fargo_checking
4,4,2025-01-09,PURCHASE AUTHORIZED ON 01/07 FCCC SMOG REF SIT...,-8.25,NaN,gas,No,Utilities,2025-01-01,2025,2025-01-09,-458.72,1,wells_fargo_checking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,258,2025-10-20,WELLS FARGO BANK NA,-1000.00,NaN,transfer,No,Misc,2025-10-01,2025,2025-10-20,439.80,65,sofi_checking
1292,259,2025-10-21,From Savings - 3552,1000.00,NaN,transfer,No,Misc,2025-10-01,2025,2025-10-21,1439.80,66,sofi_checking
1293,260,2025-10-23,DEPT EDUCATION,-442.73,NaN,student_loan,Yes,Government,2025-10-01,2025,2025-10-23,997.07,2,sofi_checking
1294,261,2025-10-24,24 HOUR FITNESS - 475,-4.93,NaN,gym,No,Personal_Spending,2025-10-01,2025,2025-10-24,992.14,1,sofi_checking
1295,262,2025-10-24,Roundup *24 HOUR FITNESS - 475,-0.07,NaN,gym,No,Personal_Spending,2025-10-01,2025,2025-10-24,992.07,2,sofi_checking

In [7]:
import pandas as pd

# Assuming 'combined' is your DataFrame
writer = pd.ExcelWriter('D:\\Sean\\Documents\\Personal\\Budget\\2025_output\\All_Bills.xlsx', engine='xlsxwriter')

# Write the DataFrame to the Excel file
combined.to_excel(writer, index=True)

# Access the workbook and worksheet
workbook = writer.book
worksheet = writer.sheets['Sheet1']  # Change 'Sheet1' if you have a different sheet name

# Get the column indices for the date columns (replace with your actual date column names)
date_format = workbook.add_format({'num_format': 'yyyy-mm-dd'})  # Customize the date format as needed

# Apply the date format to the relevant columns
# Example for applying the format to column B (assuming it's a date column), adjust as needed
worksheet.set_column('C:C', None, date_format)  # Adjust 'B:B' based on the actual column
worksheet.set_column('J:J', None, date_format)  # Adjust 'B:B' based on the actual column
worksheet.set_column('L:L', None, date_format)  # Adjust 'B:B' based on the actual column
worksheet.set_column('P:P', None, date_format)  # Adjust 'B:B' based on the actual column

writer.close()