In [16]:
from datetime import datetime as dt  #to manipulate dates

import numpy as np  #to cleanse data
import openpyxl
import pandas as pd
import plotly.express as px  #to create interactive charts
import plotly.graph_objects as go  #to create interactive charts
from datetime import datetime

In [17]:

wf_data = pd.read_excel(
    'D:\\Sean\\Documents\\Personal\\Budget\\2024_output\\WF_Curated_Bills.xlsx'
)

discover_data = pd.read_excel(
    'D:\\Sean\\Documents\\Personal\\Budget\\2024_output\\Curated_Bills.xlsx'
)

sofi_savings_data = pd.read_excel(
    'D:\\Sean\\Documents\\Personal\\Budget\\2024_output\\sofi_savings_Curated_Bills.xlsx'
)
sofi_checking_data = pd.read_excel(
    'D:\\Sean\\Documents\\Personal\\Budget\\2024_output\\sofi_checking_Curated_Bills.xlsx'
)

In [20]:
combined = pd.concat([wf_data, discover_data, sofi_savings_data,sofi_checking_data], axis=0)
combined.columns = ['ORIG_INDEX','Trans_Date','Description','Amount','Category','Short_Desc','Reoccurring_Flag','Category_2','Date','Year','Sort_Date','CumAmount','Counter','Account']
combined.reset_index(drop=True, inplace=True)
# Assuming 'combined' is your DataFrame
# Convert the datetime columns to date format (without time)
combined['Trans_Date'] = pd.to_datetime(combined['Trans_Date']).dt.date
combined['Date'] = pd.to_datetime(combined['Date']).dt.date
combined['Sort_Date'] = pd.to_datetime(combined['Sort_Date']).dt.date

# Now write to Excel
combined.to_excel('D:\\Sean\\Documents\\Personal\\Budget\\2024_output\\All_Bills.xlsx', index=True)

display(combined)

,ORIG_INDEX,Trans_Date,Description,Amount,Category,Short_Desc,Reoccurring_Flag,Category_2,Date,Year,Sort_Date,CumAmount,Counter,Account
0,0,2023-01-01,Balance,616.53,NaN,Balance,No,Balance,2023-01-01,2023,2023-01-01,616.53,1,wells_fargo_checking
1,1,2024-01-02,PURCHASE AUTHORIZED ON 01/01 A&A GAS BURLINGAM...,-47.14,NaN,gas,No,Utilities,2024-01-01,2024,2024-01-02,569.39,1,wells_fargo_checking
2,2,2024-01-02,PURCHASE AUTHORIZED ON 12/30 REDWOOD CITY PARK...,-0.50,NaN,parking,No,Transportation,2024-01-01,2024,2024-01-02,568.89,1,wells_fargo_checking
3,3,2024-01-11,PURCHASE AUTHORIZED ON 01/11 ARCO#00524MEHRZ M...,-33.17,NaN,gas,No,Utilities,2024-01-01,2024,2024-01-11,535.72,2,wells_fargo_checking
4,4,2024-01-11,PURCHASE AUTHORIZED ON 01/11 ARCO#00524MEHRZ M...,-12.06,NaN,gas,No,Utilities,2024-01-01,2024,2024-01-11,523.66,3,wells_fargo_checking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565,118,2024-12-16,Synchrony Bank,-1131.94,NaN,care_credit,No,NaN,2024-12-01,2024,2024-12-16,1780.31,7,sofi_checking
1566,119,2024-12-17,STATE FARM RO 27,-108.56,NaN,state_farm,No,NaN,2024-12-01,2024,2024-12-17,1671.75,3,sofi_checking
1567,120,2024-12-20,DISCOVER CARD,-500.00,NaN,transfer,No,NaN,2024-12-01,2024,2024-12-20,1171.75,59,sofi_checking
1568,121,2024-12-27,Zelle® Payment from Kenny Thai,30.00,NaN,Kenny,No,NaN,2024-12-01,2024,2024-12-27,1201.75,1,sofi_checking
1569,122,2024-12-31,Interest earned,0.68,NaN,interest,Yes,Payment_and_Interest,2024-12-01,2024,2024-12-31,1202.43,12,sofi_checking

In [21]:
import pandas as pd

# Assuming 'combined' is your DataFrame
writer = pd.ExcelWriter('D:\\Sean\\Documents\\Personal\\Budget\\2024_output\\All_Bills.xlsx', engine='xlsxwriter')

# Write the DataFrame to the Excel file
combined.to_excel(writer, index=True)

# Access the workbook and worksheet
workbook = writer.book
worksheet = writer.sheets['Sheet1']  # Change 'Sheet1' if you have a different sheet name

# Get the column indices for the date columns (replace with your actual date column names)
date_format = workbook.add_format({'num_format': 'yyyy-mm-dd'})  # Customize the date format as needed

# Apply the date format to the relevant columns
# Example for applying the format to column B (assuming it's a date column), adjust as needed
worksheet.set_column('C:C', None, date_format)  # Adjust 'B:B' based on the actual column
worksheet.set_column('J:J', None, date_format)  # Adjust 'B:B' based on the actual column
worksheet.set_column('L:L', None, date_format)  # Adjust 'B:B' based on the actual column
worksheet.set_column('P:P', None, date_format)  # Adjust 'B:B' based on the actual column

writer.close()